{% extends 'base.html' %}

{% block content %}
<div class="box m-5">
    <p class="is-size-1 has-text-weight-extrabold">회원가입</p>
    <hr />
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="id-input" class="label">아이디</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="control">
                        <input id="id-input" class="input" type="text" />
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <button id="check-id-unique" class="button is-info" onclick="checkIDisUnique()">중복 확인</button>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="pw-input" class="label">비밀번호</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="control">
                        <input id="pw-input" class="input" type="password" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="pw-input-check" class="label">비밀번호 확인</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="control">
                        <input id="pw-input-check" class="input" type="password" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="nick-input" class="label">닉네임</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="control">
                        <input id="nick-input" class="input" type="text" />
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <button id="check-nick-unique" class="button is-info" onclick="checkNickisUnique()">중복 확인</button>
            </div>
        </div>
    </div>
    <button class="button is-primary" id="proceed-signup" onclick="proceedSignup()">회원가입</button>
</div>
<script>
    function checkIDisUnique() {
        let ID = $("#id-input").val();
        console.log(ID);
        $.ajax({
            method: "GET",
            url: `/check-id-unique?id=${ID}`,
            data: {},
            success: function(response) {
                alert(response["message"]);

                if(response["status"] == "success") {
                    $("#check-id-unique").attr("disabled", true);
                }
            }
        });
    }

    function checkNickisUnique() {
        let nick = $("#nick-input").val();
        console.log(nick);
        $.ajax({
            method: "GET",
            url: `/check-nick-unique?nick=${nick}`,
            data: {},
            success: function(response) {
                alert(response["message"]);

                if(response["status"] == "success") {
                    $("#check-nick-unique").attr("disabled", true);
                }
            }
        });
    }

    function proceedSignup() {
        let idChecked = $("#check-id-unique").prop("disabled");
        let nickChecked = $("#check-nick-unique").prop("disabled");

        let id = $("#id-input").val();
        let pw = $("#pw-input").val();
        let nick = $("#nick-input").val();
        let pwcheck = $("#pw-input-check").val();
        
        if(idChecked || nickChecked == false) {
            if(pw != pwcheck) {
                alert("비밀번호 확인란이 일치하는지 다시 확인해주세요.");
            }

            else {
                $.ajax({
                    method: "POST",
                    url: "/proceed-signup",
                    data: { "final_id": id, "final_pw": pw, "final_nick": nick },
                    success: function(response) {
                        alert(response["message"]);
                        window.location.href = '/auth/login';
                    }
                });
            }
        }
    }
</script>
{% endblock %}
